<div class="h-full bg-background-tertiary w-16">
  <div class="flex flex-col h-full overflow-y-auto ">
    <a
      class="group h-14 flex flex-col items-center justify-center hover:bg-background-highlight text-text hover:text-primary py-2 text-xs"
      routerLink="chat" routerLinkActive="border-solid border-l-4 border-primary active">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 96 960 960"
           class="fill-text group-hover:fill-primary group-active:fill-primary">
        <path
          d="M240 657h313v-60H240v60Zm0-130h480v-60H240v60Zm0-130h480v-60H240v60ZM80 976V236q0-23 18-41.5t42-18.5h680q23 0 41.5 18.5T880 236v520q0 23-18.5 41.5T820 816H240L80 976Z"/>
      </svg>
      <span>Chat</span>
    </a>
    <a
      class="group h-14 flex flex-col items-center justify-center hover:bg-background-highlight text-text hover:text-primary py-2 text-xs"
      routerLink="video" routerLinkActive="border-solid border-l-4 border-primary active">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 96 960 960" class="fill-text group-hover:fill-primary group-active:fill-primary">
        <path
          d="M372 736h60V604h132v-60H432V412h-60v132H240v60h132v132ZM140 896q-24 0-42-18t-18-42V316q0-24 18-42t42-18h520q24 0 42 18t18 42v215l160-160v410L720 621v215q0 24-18 42t-42 18H140Zm0-60h520V316H140v520Zm0 0V316v520Z"/>
      </svg>
      <span>Video</span>
    </a>
  </div>
</div>
