@tailwind base;
@tailwind components;
@tailwind utilities;

.ngxp__container {
  box-shadow: none !important;
  border: none !important;
  padding: 0 !important;
}
body{
  @apply w-screen h-screen;
}
app-root{
  @apply w-full h-full block;
}
