@tailwind base;
@tailwind components;
@tailwind utilities;

.ngxp__container {
  box-shadow: none !important;
  border: none !important;
  padding: 0 !important;
}
body{
  @apply w-screen h-screen bg-background-primary;
}
app-root{
  @apply w-full h-full block;
}
//style the overflow scroll bar
::-webkit-scrollbar {
  width: 0.5rem;
}
::-webkit-scrollbar-track {
  @apply bg-transparent;
  scrollbar-width: thin;
}
::-webkit-scrollbar-thumb {
  @apply bg-text rounded;
}
.ngxp__container{
  z-index: 1;
}
.as-split-gutter{
  background-color: var(--color-background-secondary) !important;
}



