<div class="flex flex-row h-full w-full justify-between p-1">
  <div></div>
  <div *ngIf="user$|async as user" class="h-full flex items-center gap-2" [popper]="userPopup"
        [popperPlacement]="ngxPopperjsPlacements.BOTTOM">
    <p class="text-white  mr-4">{{user.userName}}</p>
    <app-avatar [user]="user" class="h-full"></app-avatar>
    <popper-content #userPopup>
      <div class="rounded-2xl bg-background-highlight w-80 p-4">
        <div class="flex flex-row gap-4">
          <app-avatar class="w-10" [user]="user$|async"></app-avatar>
          <div>
            <h2 class="text-text ">{{user.userName}}</h2>
            <p class="text-text text-xs">{{user.email}}</p>
          </div>
        </div>
        <div class="w-full hover:bg-background-primary mt-4 border-box">
          <button class="w-full m-2 text-text text-xs" (click)="signOut()">Sign out</button>
        </div>
      </div>
    </popper-content>
  </div>
</div>
<popper-content *ngIf="user$|async as user">
  <div class="rounded-2xl bg-background-highlight w-80">
    <div class="flex flex-row">
      <app-avatar [user]="user$|async"></app-avatar>
    </div>
  </div>
</popper-content>

