<div class="flex flex-row h-full w-full justify-between p-1 box-border">
  <div>
    </div>
  <div *ngIf="user$|async as user" class="h-full flex flex-row gap-4 items-center" [popper]="userPopup"
       [popperPlacement]="ngxPopperjsPlacements.BOTTOM">
    <p class="text-white ">{{user.userName}}</p>
    <app-avatar [user]="user" class="h-10 w-10"></app-avatar>
    <popper-content #userPopup>
      <div class="rounded-2xl bg-background-highlight w-80 p-4">
        <div class="flex flex-row gap-4">
          <app-avatar class="w-10" [user]="user" [allowEdit]="true"></app-avatar>
          <div>
            <h2 class="text-text ">{{user.userName}}</h2>
            <p class="text-text text-xs">{{user.email}}</p>
          </div>
        </div>
        <div class="w-full hover:bg-background-primary mt-4 border-box">
          <button class="w-full p-2 text-text text-xs" (click)="signOut()">Sign out</button>
        </div>
      </div>
    </popper-content>
  </div>
</div>

