<div class="container flex flex-col h-full mx-auto py-6 px-2 shadow-2xl">
  <div class="flex-1 flex flex-col-reverse h-full overflow-y-auto pb-4" #container (scroll)="onScroll($event)">
    <app-chat-message *ngFor="let message of (messages$|async)" [message]="message"></app-chat-message>
  </div>
  <!--text bar for chat-->
  <div class="flex flex-row">
      <textarea class="flex-1 border border-border rounded-md p-2 bg-background-highlight max-h-24 text-white focus:border-primary focus:outline-none"
                placeholder="Type a message..."></textarea>
    <button class=" text-text font-bold py-2 px-1 rounded-r-md group">
      <svg class="w-6 h-6 group-hover:stroke-primary" fill="none" stroke="currentColor" viewBox="0 0 24 24"
           xmlns="http://www.w3.org/2000/svg">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 19l9 2-9-18-9 18 9-2zm0 0v-8"
              transform="rotate(90) translate(0 -24)"></path>
      </svg>
    </button>
  </div>

</div>
