<app-multi-session *ngIf="session$|async as session" [baseSession]="session" [initiallyShowChat]="!!session.chatSession"
                   [initiallyShowVideo]="!!session.chatSession"
                   [initiallyShowAr]="!!session.arSession"></app-multi-session>
<form [formGroup]="form" *ngIf="!(session$|async)" class="flex flex-col justify-center items-center w-full h-full">
  <div class="rounded-md bg-background-secondary p-4 w-80">
    <h1 class="text-white mb-4">Create a new Call</h1>
    <div class="flex flex-col gap-1">
      <label class="relative inline-flex items-center cursor-pointer">
        <input type="checkbox" class="sr-only peer" formControlName="includeChat">
        <div
          class="w-11 h-6 bg-background-primary peer-focus:outline-none peer-focus:ring-2 peer-focus:ring-primary-bg rounded-full peer peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-primary"></div>
        <span class="ml-3 text-sm font-medium text-text">Chat</span>
      </label>
      <label class="relative inline-flex items-center cursor-pointer">
        <input type="checkbox" class="sr-only peer" formControlName="includeVideo">
        <div
          class="w-11 h-6 bg-background-primary peer-focus:outline-none peer-focus:ring-2 peer-focus:ring-primary-bg rounded-full peer peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-primary"></div>
        <span class="ml-3 text-sm font-medium text-text">Video</span>
      </label>
      <label class="relative inline-flex items-center cursor-pointer">
        <input type="checkbox" class="sr-only peer" formControlName="includeAr">
        <div
          class="w-11 h-6 bg-background-primary peer-focus:outline-none peer-focus:ring-2 peer-focus:ring-primary-bg rounded-full peer peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-primary"></div>
        <span class="ml-3 text-sm font-medium text-text">AR-Remote Assist</span>
      </label>
    </div>
    <h2 class="text-white">Members</h2>
    <app-user-select [multi]="true" [usePopper]="false" [showSubmitButton]="false" (usersSelected)="setMembers($event)"></app-user-select>
    <button class="mt-4 w-full bg-primary rounded-md py-2 text-white font-medium hover:bg-primary-bg disabled:bg-background-primary" [disabled]="form.invalid" (click)="createSession()">Start Call</button>
  </div>
</form>
